/* PHASE 12: Modal */


.modal-screen {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* z-index: 2;  */
}

.modal-form {
    background-color: white;
    height: 200px;
    width: 200px;
    /* margin: 20px 0 0 0;
    padding: 0 0 3px 0; */
    position: absolute;
    z-index: -1;
    left: 200px;
    /* margin: auto; */
}

/* .input {
  margin: 0 0 20px 0;
}
 */

.is-open {
  /* background-color: rgba(0, 0, 0, 0.8); */
  /* display: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  z-index: -1; 
}

